.Movie {
    margin: 0 auto;
    width: 70%;
    height: 600px;
    border: 5px solid rgb(70, 70, 70);
    background-color: rgb(20, 20, 20);
    color: white;
    border-radius: 5%;
    transition: transform 1s;
}

.Movie h2,
.Movie p {
    text-align: center;
}

.Movie img {
    margin: auto;
    display: block;
    width: 80%;
    height: 70%;
}

.Movie:hover {
    transform: scale(1.1);
}

@media (min-width: 600px) {
    .Movie {
        width: 400px;
    }
}