.Movie {
    margin: 48px 10px;
    width: 70%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid rgb(70, 70, 70);
    background-color: rgb(20, 20, 20);
    color: white;
    border-radius: 5%;
    transition: all 1s;
}

.Movie h2,
.Movie p {
    text-align: center;
}

.Movie img {
    display: block;
    width: 80%;
    height: 70%;
}

.Movie:hover {
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(201, 168, 79, 0.3);
}

@media (min-width: 600px) {
    .Movie {
        width: 400px;
        height: 600px;
    }
}