.Seet {
    width: 10%;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin: 10px;
    box-sizing: border-box;
}

.Free {
    border-bottom: 50px solid aquamarine;
}

.Ocupied {
    border-bottom: 50px solid red;
}