.Seet {
    width: 10%;
    height: 10vh;
    clip-path: polygon(30% 0, 70% 0, 100% 100%, 0 100%);
    margin: 10px;
    box-sizing: border-box;
}

.Free {
    border-bottom: 50px solid aquamarine;
}

.Ocupied {
    border-bottom: 50px solid red;
}

@media (max-width: 500px) {
    .Seet {
        margin: 2px;
    }
}